@font-face {
  font-family: 'ARCADECLASSIC';
  src: url('../res/ARCADECLASSIC.TTF');
}

body {
  background-color:#793a61;
  overflow-x: hidden;

}

.top_padding {
  height: 40px;
}

.media_container {

  margin: auto;
  background-color: #333;
  max-width: 830px;
  margin-bottom : 10px;
  text-align: center;
  padding-bottom: 4px;
}


.media_container p {
 margin: 5px;
 padding-top: 10px;
}

.media_container iframe{
  height: 300px;
  width: 65%;
}

.media_container video{
  width: 65% !important;
  object-fit: fill;
}

.link_container {
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  max-width: 750px;
  display:block;
  background-color: #333;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 5px;
}

.link_container_img {
  margin-bottom: 10px;
}



.background_image_description {
  background-image:url("../res/0x72_16x16DungeonTileset.v4\ \ \(4\).png");
  background-repeat:repeat-x;
  background-size: 150px;
  background-position-y: 100%;
  background-attachment: fixed;
}

.tech_container {
  display: flex;
  background-color: #333;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  max-width: 1000px;
  padding: 5px;
}

#float {
    position:fixed;
    bottom: 55px;
    -webkit-animation: backandforth 2s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: backandforth 12s ease 0s;
    animation-iteration-count:infinite;
    z-index: -1;
}

@-webkit-keyframes backandforth {0%{left:10%;} 50%{left:50%;} 100%{left:10%;}}

@keyframes backandforth {0%{left:10%;} 50%{left:85%;} 100%{left:10%;}}

.tech_container p {
  display: flexbox;
  margin: 25px;
  font: inherit;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 21px;
}

.tech_container img {
  display: flexbox;
  vertical-align: center;
  margin: 5px;
  width: 90px;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

p {
  font: inherit;
  font-family:monospace;
  font-size: 20px;
  color:rgb(255, 255, 255);
}



.description_list {
  background-color: #333;
  display:flex;
  margin: auto;
  margin-top: 5%;
  max-width: 900px;
}

.main_img {
  border: 5px solid #111;
  width: 1000px;
  max-width: 80%;
}

.paragraph p {
  padding-right: 100px;
  font: inherit;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:rgb(255, 255, 255);
  margin-left: 6px;
  
}

#title {

  color: #111;
  text-align: center;
  font: inherit;
  font-family: ARCADECLASSIC;
  font-size: 60px;
}

#editor_div {
  margin:8px; 
  margin-bottom: 11px;
}

#editor_body {
  margin: 0; 
  overflow: hidden; 
}

.center {
  margin: auto;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
  
li {
  float: left;
}

li a {
  font: inherit;
  font-family: ARCADECLASSIC;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #866781;
}

.language_button{
  float: right;
}
.language_button button{
  float: right;
  font: inherit;
  font-family: ARCADECLASSIC;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(49, 49, 49);
  border: 0px;
  height: 44px;
}

li button:hover:not(.active) {
  background-color: #111;
}

@media only screen and (max-width: 480px) {
  .link_container_img {
    width: 350px !important;
  }
  .media_container iframe {
    height: 180px !important;
  }
}

@media only screen and (max-width: 650px) {
  .top_padding {
    height: 85px;
  }
}